html, body {
    margin: 0;
    padding: 0;
}

:root {
    --bg-word: #5134ff;
    --wd-word: #ffffff;
}
 
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1:after{
    content: "";
    animation: 6s swap infinite;
    background: var(--bg-word);
    padding: 10px;
    color: var(--wd-word);
    border-radius: 4px;
    margin-left: 4px;

}

@keyframes swap {
    0% {
        content: "Gaming";
    }
    25% {
        content: "Cats";
    }
    50% {
        content: "Coding";
    }
    
    75% {
        content: "Gym";
    }
    
    100% {
        content: "Gaming";
    }
}