html, body {
    margin: 0;
    padding: 0;
}

:root {
    --progressbar-bg: lightgrey;
    --start: red;
    --middle: blue;
    --finish: green;
} 

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.progress-bar{
    height: 50px;
    width: 80%;
    background: var(--progressbar-bg);
    border-radius: 50px;
}

.progress-status{
    width: 10%;
    background: var(--start);
    animation: 6s linear showprogress infinite;
}

@keyframes showprogress{
    50%{
        width: 50%;
        background: var(--middle);
    }

    75%{
        width: 100%;
        background: var(--finish);
    }

    100%{
        width: 100%;
        background: var(--finish);
    }
}